*{
    margin:0;
    padding: 0;
    font-family:sans-serif;
    box-sizing: border-box;
}
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#5011cf, #f13f8cfc);
    padding: 10px;
}

.todo_web {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo_web h2 {
    color:#dd220d;
    align-items: center;
    margin-bottom: 20px;
    display: flex;
}

.todo_web h2 img {
    width: 30px;
    margin-left: 10px;
}
.line {
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    margin-bottom: 25px;
    background: #edeef0;
    border-radius: 30px;
    display: flex;
}

input {
    background: transparent;
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-weight: 15px;
    font-size: 16px;
}
button {
    background: #dd220d;
    padding: 16px 50px;
    border-radius: 20px;
    color: #fff;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
button:hover {
    background-color: rgb(63, 149, 203);
    transition:NONE;
}

ul li {
    list-style: none;
    font: size 17px;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    position: absolute;
    width: 28px;
    height: 28px;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
    content: '';
    border-radius: 50%;
}

ul li.checked {
    color: #282830;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(check.png);
}

ul li span {
    position: absolute;
    right: 0px;
    font-size: 22px;
    top: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    color: rgb(7, 5, 31);
    line-height: 40px;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}